name: Publish release to Netlify
on:
  push:
    tags:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node 20
        uses: actions/setup-node@v6
        with:
          node-version: '20'
      - name: Install dependencies with yarn
        run: yarn
      - name: Build site
        run: yarn build
      - name: Install Netlify cli
        run: yarn global add netlify-cli@23.10.0
      - name: Publish to Netlify
        run: |
          netlify deploy \
            --dir ./build \
            --site ${{ secrets.NETLIFY_SITE_ID }} \
            --auth ${{ secrets.NETLIFY_AUTH_TOKEN }}