name: Test and build site

on: [push]

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node 20
        uses: actions/setup-node@v6
        with:
          node-version: '20'
      - name: Install dependencies with yarn
        run: yarn
      - name: Run tests
        run: yarn test
      - name: Build site
        run: yarn build